In [1]:
import numpy as np 
import pandas as pd 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
import random
import re

/kaggle/input/australian-fatal-car-accident-data-19892021/Crash_Data.csv

## Preparing Australian Fatal Car accident data 1989-2021 for Analysis

## Exploring the data

In [2]:
df = pd.read_csv('/kaggle/input/australian-fatal-car-accident-data-19892021/Crash_Data.csv', low_memory=False)

In [3]:
df.head(5) #see preview of the data.

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,38,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,28,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,19,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,23,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,46,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night

In [4]:
print(df.dtypes) #See column names & data types in that column.
print("The number of rows in this dataframe are: ", len(df.index))

Crash ID                          int64
State                            object
Month                             int64
Year                              int64
Dayweek                          object
Time                             object
Crash Type                       object
Bus Involvement                  object
Heavy Rigid Truck Involvement    object
Articulated Truck Involvement    object
Speed Limit                      object
Road User                        object
Gender                           object
Age                               int64
National Remoteness Areas        object
SA4 Name 2016                    object
National LGA Name 2017           object
National Road Type               object
Christmas Period                 object
Easter Period                    object
Age Group                        object
Day of week                      object
Time of day                      object
dtype: object
The number of rows in this dataframe are:  52843

In [5]:
df.loc[df.duplicated()] #finds rows which are identical duplicates of each other

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
473,20215012,WA,4,2021,Saturday,20:50,Single,No,No,No,...,16,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekend,Night
1426,20203031,Qld,6,2020,Sunday,4:00,Single,No,No,No,...,14,Outer Regional Australia,Townsville,Townsville (C),National or State Highway,No,No,0_to_16,Weekend,Night
1650,20202055,Vic,4,2020,Wednesday,17:30,Multiple,No,No,Yes,...,-9,Major Cities of Australia,Melbourne - Inner East,Boroondara (C),National or State Highway,No,No,NaN,Weekday,Day
1651,20202055,Vic,4,2020,Wednesday,17:30,Multiple,No,No,Yes,...,-9,Major Cities of Australia,Melbourne - Inner East,Boroondara (C),National or State Highway,No,No,NaN,Weekday,Day
1652,20202055,Vic,4,2020,Wednesday,17:30,Multiple,No,No,Yes,...,-9,Major Cities of Australia,Melbourne - Inner East,Boroondara (C),National or State Highway,No,No,NaN,Weekday,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52623,19895071,WA,1,1989,Sunday,22:17,Single,No,NaN,No,...,19,NaN,NaN,NaN,NaN,No,No,17_to_25,Weekend,Night
52783,19892372,Vic,1,1989,Thursday,14:08,Multiple,No,No,No,...,65,NaN,NaN,NaN,NaN,No,No,65_to_74,Weekday,Day
52785,19892372,Vic,1,1989,Thursday,14:08,Multiple,No,No,No,...,65,NaN,NaN,NaN,NaN,No,No,65_to_74,Weekday,Day
52819,19896006,Tas,1,1989,Wednesday,20:20,Multiple,No,NaN,Yes,...,13,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Night
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day

In [6]:
df.drop_duplicates(inplace=True) #removes duplicated rows
df.loc[df.duplicated()] #finds rows which are duplicates of one another.

Empty DataFrame
Columns: [Crash ID, State, Month, Year, Dayweek, Time, Crash Type, Bus Involvement, Heavy Rigid Truck Involvement, Articulated Truck Involvement, Speed Limit, Road User, Gender, Age, National Remoteness Areas, SA4 Name 2016, National LGA Name 2017, National Road Type, Christmas Period, Easter Period, Age Group, Day of week, Time of day]
Index: []

[0 rows x 23 columns]

In [7]:
### Check the number of missing values in each column
df.isnull().sum()

Crash ID                             0
State                                0
Month                                0
Year                                 0
Dayweek                              0
Time                                40
Crash Type                           0
Bus Involvement                     22
Heavy Rigid Truck Involvement    20439
Articulated Truck Involvement       22
Speed Limit                        698
Road User                            0
Gender                              23
Age                                  0
National Remoteness Areas        45824
SA4 Name 2016                    45810
National LGA Name 2017           45809
National Road Type               45825
Christmas Period                     0
Easter Period                        0
Age Group                           81
Day of week                          0
Time of day                          0
dtype: int64

#### Observe that 
##### 1. close to 87% of "National Remoteness Areas", "SA4 Name 2016", "National LGA Name 2017" and "National Road Type" are missing. Therefore, There is no point analysing them.
##### 2. close to 50% of "Heavy Rigid Truck Involvement" are missing. There is no point analysing them.

In [8]:
#remove 5 columns that are mostly missing.
df.drop(labels=['Crash ID', 'National Remoteness Areas', 'SA4 Name 2016', 'National LGA Name 2017', 'National Road Type','Heavy Rigid Truck Involvement'], axis=1, inplace=True)
df.columns #confirming the columns are removed.

Index(['State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Bus Involvement', 'Articulated Truck Involvement', 'Speed Limit',
       'Road User', 'Gender', 'Age', 'Christmas Period', 'Easter Period',
       'Age Group', 'Day of week', 'Time of day'],
      dtype='object')

In [9]:
#For each column, print all the distinct values in that column.
for item in df.columns:
    print(item)
    print(df[item].unique())

State
['Vic' 'SA' 'Qld' 'WA' 'NSW' 'NT' 'ACT' 'Tas']
Month
[ 9  8  7  6  5  4  3  2  1 12 11 10]
Year
[2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1994
 1993 1992 1991 1990 1989]
Dayweek
['Sunday' 'Saturday' 'Thursday' 'Wednesday' 'Friday' 'Tuesday' 'Monday']
Time
['0:30' '23:31' '23:00' ... '3:42' '22:33' '6:57']
Crash Type
['Single' 'Multiple']
Bus Involvement
[nan 'No' 'Yes']
Articulated Truck Involvement
[nan 'No' 'Yes']
Speed Limit
[nan '110' '100' '60' '80' '50' '70' '90' '40' '130' '20' '10' '30' '25'
 '15' '<40' '5' 'Unspecified' '75' '-9']
Road User
['Motorcycle rider' 'Pedestrian' 'Passenger' 'Driver' 'Other/-9'
 'Pedal cyclist' 'Motorcycle pillion passenger']
Gender
['Male' 'Female' nan 'Unspecified']
Age
[ 38  28  19  23  46  20  17   2  47  24  52  49  32  34  26  56  11  45
  61  36  71  15  27  31  86  37  58  22  42  62  64  51  83  60  74  70
  66  72  68  69  78   6  76  84  50  16  63  77  85  90  10  39   4  35
  43  59  40  18  29  48  67   8  79  75  41  25  82  -9  80  30  33  55
  73  12  44  54   7   5  92   9  57  53  81  87  21  14  13  65  88   1
  89   3  91  93   0  94  97 101  95  99  96  98 100]
Christmas Period
['No' 'Yes']
Easter Period
['No' 'Yes']
Age Group
['26_to_39' '17_to_25' '40_to_64' '0_to_16' '65_to_74' '75_or_older' nan]
Day of week
['Weekend' 'Weekday']
Time of day
['Night' 'Day']











## Data cleaning

In [10]:
df["Time"].fillna(method='ffill', inplace=True) #replace the nan values with the time of the previous row.

In [11]:
df["Gender"].fillna('Unspecified', inplace=True) #replace nan values to "Unspecified"
df["Bus Involvement"].fillna('No', inplace=True) #replace nan values to "No"
df["Articulated Truck Involvement"].fillna('No', inplace=True) #replace nan values to "No"

In [12]:
#the column "Age" contains -9 
#The column "Speed Limit" contains -9, <40 and "Unspecified"
#The column "Time" countains empty string ''
#change all the unexpected values to nan values.
df["Age"].replace(-9, np.nan, inplace=True)
df.replace({"Speed Limit": {"-9": np.nan, '<40': np.nan, "Unspecified": np.nan }}, inplace=True)

In [13]:
#randomly fill the columns "Age" and "Speed Limit" with values in that column.
for feature in ["Age", "Speed Limit", "Age Group"]:
    choice_from, list = df[feature].unique(), []
    choice_from = [element for element in choice_from if str(element) != "nan"] #removes "nan" values from list.
    for item in df[feature]:
        if pd.isna(item) == True:
            list.append(random.choice(choice_from))
        else:
            list.append(item)
    df[feature] = list

In [14]:
for item in df.columns:
    print(item)
    print(df[item].unique())

State
['Vic' 'SA' 'Qld' 'WA' 'NSW' 'NT' 'ACT' 'Tas']
Month
[ 9  8  7  6  5  4  3  2  1 12 11 10]
Year
[2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1994
 1993 1992 1991 1990 1989]
Dayweek
['Sunday' 'Saturday' 'Thursday' 'Wednesday' 'Friday' 'Tuesday' 'Monday']
Time
['0:30' '23:31' '23:00' ... '3:42' '22:33' '6:57']
Crash Type
['Single' 'Multiple']
Bus Involvement
['No' 'Yes']
Articulated Truck Involvement
['No' 'Yes']
Speed Limit
['80' '110' '75' '25' '100' '60' '50' '30' '70' '90' '130' '10' '5' '40'
 '15' '20']
Road User
['Motorcycle rider' 'Pedestrian' 'Passenger' 'Driver' 'Other/-9'
 'Pedal cyclist' 'Motorcycle pillion passenger']
Gender
['Male' 'Female' 'Unspecified']
Age
[ 38.  28.  19.  23.  46.  20.  17.   2.  47.  24.  52.  49.  32.  34.
  26.  56.  11.  45.  61.  36.  71.  15.  27.  31.  86.  37.  58.  22.
  42.  62.  64.  51.  83.  60.  74.  70.  66.  72.  68.  69.  78.   6.
  76.  84.  50.  16.  63.  77.  85.  90.  10.  39.   4.  35.  43.  59.
  40.  18.  29.  48.  67.   8.  79.  75.  41.  25.  82.  80.  30.  33.
  55.  73.  12.  44.  54.   7.   5.  92.   9.  57.  53.  81.  87.  21.
  14.  13.  65.  88.   1.  89.   3.  91.  93.   0.  94.  97. 101.  95.
  99.  96.  98. 100.]
Christmas Period
['No' 'Yes']
Easter Period
['No' 'Yes']
Age Group
['26_to_39' '17_to_25' '40_to_64' '0_to_16' '65_to_74' '75_or_older']
Day of week
['Weekend' 'Weekday']
Time of day
['Night' 'Day']

## Data wrangling

In [15]:
#convert the datatype of "Time" and "Speed Limit" from str to int
for feature in ["Speed Limit", "Age"]:
      df[feature] = df[feature].astype(int)

In [16]:
#Convert the data type of the rest of columns to category.
features =[]
for column in df.columns:
    if column not in ["Month", "Year", "Time", "Speed Limit", "Age"]:
        features.append(column)

for feature in features:
    df[feature] = df[feature].astype("category")

In [17]:
df.dtypes

State                            category
Month                               int64
Year                                int64
Dayweek                          category
Time                               object
Crash Type                       category
Bus Involvement                  category
Articulated Truck Involvement    category
Speed Limit                         int64
Road User                        category
Gender                           category
Age                                 int64
Christmas Period                 category
Easter Period                    category
Age Group                        category
Day of week                      category
Time of day                      category
dtype: object

#### By: Bashir Abdinoor
#### Data: 12/07/2023
#### Email: bashirabdinoor1@gmail.com